<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        {% if invalid_username is defined %}
            <p class="msg_error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
        {% endif %}
        <label for="username">E-mail address:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <input type="submit" value="Reset password" class="submit"></a>
    </div>
</form>
